spring:
  application:
    name: security

  datasource:
    url: jdbc:mariadb://localhost:3306/server
    username: root
    password: "01102000"
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    database: mysql